* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

header {
  background-image: url(../img/NavBar_Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10vh;
  box-shadow: 0 -1vh 2vh;
}
header img {
  width: 50%;
}
header nav {
  width: 73%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 0;
}
header nav ul li a {
  font-size: 25px;
  color: black;
}

footer {
  background-color: #F7D776;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  width: 15%;
}
footer p {
  margin: 0.5%;
}
footer .reseaux {
  margin-top: 1%;
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .reseaux a img {
  width: 90%;
}
footer p:last-child {
  font-size: 10px;
  margin-top: 4%;
  margin-bottom: 1%;
}

main h1 {
  font-weight: 700;
  font-size: 4vw;
  color: #F29727;
  text-align: center;
  margin: 3vw;
  margin-bottom: 2.5vh;
}
main .notrehistoire {
  margin: 3vw auto;
  border-radius: 3em;
  background-color: #F7D776;
  width: 50%;
}
main .notrehistoire .aventure {
  margin: 10vh;
  position: relative;
  width: 55%;
}
main .notrehistoire .aventure .histoiretexte {
  padding-top: 3.5vh;
}
main .notrehistoire .aventure .histoiretexte h2 {
  text-align: center;
  padding-bottom: 4vh;
}
main .notrehistoire .aventure .histoiretexte p {
  padding-bottom: 4vh;
  font-size: 1em;
}
main .notrehistoire .aventure img {
  width: 95%;
  position: absolute;
  left: 105%;
  top: -10%;
  border-radius: 5%;
}
main .dreamteam {
  background-color: #CEE8A8;
}
main .dreamteam h2 {
  text-align: center;
  padding: 5vh;
}
main .dreamteam .profils {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}
main .dreamteam .profils .profil {
  width: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  padding-bottom: 5vh;
}
main .dreamteam .profils .profil p {
  padding-top: 7vh;
  text-align: center;
}
main .dreamteam .profils .profil p span {
  font-weight: bold;
}
main .notresite {
  margin: 3vw auto;
  border-radius: 30px;
  background-color: #F7D776;
  width: 50%;
}
main .notresite .site {
  margin: 10vh;
  position: relative;
  width: 43%;
}
main .notresite .site .sitetexte {
  padding-top: 3.5vh;
  width: 27vw;
}
main .notresite .site .sitetexte h2 {
  text-align: center;
  padding-bottom: 0.5vh;
}
main .notresite .site .sitetexte p {
  padding: 5.5vh 0;
  font-size: 1em;
}
main .notresite .site img {
  width: 95%;
  position: absolute;
  left: 140%;
  top: -14%;
  border-radius: 5%;
}

@media screen and (max-width: 1200px) {
  main .notrehistoire .aventure img {
    width: 100%;
    position: absolute;
    left: 105%;
    top: 13%;
    border-radius: 5%;
  }
  main .notresite .site img {
    width: 100%;
    position: absolute;
    left: 140%;
    top: 5%;
    border-radius: 5%;
  }
}
@media screen and (max-width: 1024px) {
  main .notrehistoire .aventure .histoiretexte {
    padding-top: 2vh;
  }
  main .notrehistoire .aventure .histoiretexte h2 {
    font-size: 1.3em;
  }
  main .notrehistoire .aventure .histoiretexte p {
    font-size: 0.8em;
  }
  main .notrehistoire .aventure img {
    left: 105%;
    top: 10%;
  }
  main .dreamteam .profils .profil img {
    width: 85%;
  }
  main .dreamteam .profils .profil p {
    font-size: 0.9em;
  }
  main .notresite .site .sitetexte {
    padding-top: 2vh;
  }
  main .notresite .site .sitetexte h2 {
    font-size: 1.3em;
  }
  main .notresite .site .sitetexte p {
    font-size: 0.8em;
  }
  main .notresite .site img {
    width: 90%;
    position: absolute;
    left: 140%;
    top: 4%;
    border-radius: 5%;
  }
}
@media screen and (max-width: 960px) {
  header nav ul li a {
    font-size: 23px;
  }
  main .notrehistoire .aventure img {
    top: 13%;
  }
  main .notresite .site img {
    top: 7%;
  }
}
@media screen and (max-width: 768px) {
  .center {
    width: 100%;
  }
  header {
    padding: 20px;
    margin-bottom: 50px;
  }
  header nav {
    display: none;
  }
  header #toggle {
    position: fixed;
    display: block;
    width: 30px;
    height: 2px;
    top: 50px;
    right: 50px;
    cursor: pointer;
    background-color: #e33131;
    transition: all 0.3s ease-in-out;
    z-index: 8;
  }
  header #toggle:before, header #toggle:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: indianred;
    transition: all 0.3s ease-in-out;
  }
  header #toggle:before {
    top: -10px;
  }
  header #toggle:after {
    top: 10px;
  }
  header #toggle.active {
    background-color: transparent;
  }
  header #toggle.active:before {
    transform: rotate(45deg);
    top: 0;
  }
  header #toggle.active:after {
    transform: rotate(-45deg);
    top: 0;
  }
  header #navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 6;
  }
  header #navigation.active {
    right: 0;
  }
  header #navigation.active ul li {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  header #navigation.active ul li a {
    color: indianred;
    font-size: 24px;
    text-align: center;
  }
  main .notrehistoire {
    width: 70%;
  }
  main .notrehistoire .aventure img {
    top: 9%;
    width: 85%;
  }
  main .dreamteam .profils .profil p {
    font-size: 0.7em;
  }
  main .notresite {
    width: 70%;
  }
  main .notresite .site .sitetexte {
    width: 40vw;
  }
  main .notresite .site img {
    top: 4%;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  header nav ul li a {
    font-size: 12px;
  }
  footer p {
    text-align: center;
    font-size: 12px;
  }
  main .notrehistoire {
    width: 100%;
    border-radius: 0px;
  }
}/*# sourceMappingURL=About.css.map */