* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body{
  background-image: url(../img/FoodieVilles_BG.svg);
  background-size: cover;
}

img {
  display: block;
}

// Header //
header {
  background-image: url(../img/NavBar_BG_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 13%;
  }

  nav {
    width: 73%;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-size: 0;
      li {
        a {
          font-size: 25px;
          color: black;
        }
      }
    }
  }
}

// Titre principal //
h1 {
  text-align: center;
  font-size: 50px;
  color: #95cd41;
}

// Cadre Lille //

.cadre-lille {
  margin-left: 20%;
  width: 60%;
  height: 50%;
  background: #f7d776;
  border-radius: 50px;
}

.resto1 {
  width: 280px;
  height: 261.21px;
  border-radius: 30px;
  margin-left: 1%;
  margin-top: 2%;
}

.titre-lille {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.titreh2-lille {
  font-size: 30px;
  position: relative;
  right: -25%;
}

.titreh3-lille {
  font-size: 30;
  position: relative;
  bottom: -65px;
  right: -15%;
}

.adresse-lille {
  margin-top: 10%;
  margin-left: -22%;
  font-size: 23;
}

.cadrep-lille {
  margin-top: 2%;
  margin-left: 30%;
  font-size: 20px;
  color: black;
}

.lien-lille {
  margin-top: -10%;
  margin-left: 15%;
  display: inline-block;
  border: solid black;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: red;
}

// Cadre Arras //

.cadre-arras {
  margin-left: 20%;
  width: 60%;
  height: 50%;
  background: #f7d776;
  border-radius: 50px;
}

.resto2 {
  width: 280px;
  height: 261.21px;
  border-radius: 30px;
  margin-right: 40%;
  margin-top: 2%;
}

.titre-arras {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.titreh2-arras {
  position: relative;
  left: -10%;
  font-size: 30;
}

.titreh3-arras {
  position: relative;
  bottom: -75px;
  left: -19%;
  font-size: 30;
}

.adresse-arras {
  position: relative;
  bottom: -15vh;
  left: -35%;
  font-size: 23;
  font-weight: bold;
}

.cadrep-arras {
  margin-top: 1%;
  margin-left: 30%;
  font-size: 20px;
  color: black;
}

.lien-arras {
  margin-top: -12%;
  margin-left: 10%;
  display: inline-block;
  border: solid black;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: red;
}

// Cadre Lens //

.cadre-lens {
  margin-left: 20%;
  width: 60%;
  height: 50%;
  background: #f7d776;
  border-radius: 50px;
}

.resto3 {
  width: 280px;
  height: 261.21px;
  border-radius: 30px;
  margin-left: 2%;
  margin-top: 2%;
}

.titre-lens {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.titreh2-lens {
  font-size: 30;
  position: relative;
  right: -25%;
}

.titreh3-lens {
  font-size: 30;
  position: relative;
  bottom: -65px;
  right: -9%;
}

.adresse-lens {
  position: relative;
  bottom: -15vh;
  left: -22%;
  font-size: 23;
  font-weight: bold;
}

.cadrep-lens {
  margin-top: -1%;
  margin-left: 30%;
  font-size: 20px;
  color: black;
}

.lien-lens {
  margin-top: -9%;
  margin-left: 10%;
  display: inline-block;
  border: solid black;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: red;
}

// Cadre Béthune //

.cadre-bethune {
  margin-left: 20%;
  width: 60%;
  height: 50%;
  background: #f7d776;
  border-radius: 50px;
}

.resto4 {
  width: 280px;
  height: 261.21px;
  border-radius: 30px;
  margin-left: 2%;
  margin-top: 2%;
}

.titre-bethune {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.titreh2-bethune {
  font-size: 30;
  position: relative;
  right: -25%;
}

.titreh3-bethune {
  font-size: 30;
  position: relative;
  bottom: -65px;
  right: -13%;
}

.adresse-bethune {
  position: relative;
  bottom: -18vh;
  left: -20%;
  font-size: 23;
  font-weight: bold;
}

.cadrep-bethune {
  margin-top:-3%;
  margin-left: 30%;
  font-size: 20px;
  color: black;
}

.lien-bethune {
  margin-top: -8%;
  margin-left: 10%;
  display: inline-block;
  border: solid black;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: red;
}

// Cadre Valencienne //

.cadre-valencienne {
  margin-left: 20%;
  width: 60%;
  height: 50%;
  background: #f7d776;
  border-radius: 50px;
}

.resto4 {
  width: 280px;
  height: 261.21px;
  border-radius: 30px;
  margin-left: 2%;
  margin-top: 2%;
}

.titre-valencienne {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.titreh2-valencienne {
  font-size: 30;
  position: relative;
  right: -25%;
}

.titreh3-valencienne {
  font-size: 30;
  position: relative;
  bottom: -65px;
  right: -12%;
}

.adresse-valencienne {
  position: relative;
  bottom: -18vh;
  left: -13%;
  font-size: 23;
  font-weight: bold;
}

.cadrep-valencienne {
  margin-top:-3%;
  margin-left: 30%;
  font-size: 20px;
  color: black;
}

.lien-valencienne {
  margin-top: -8%;
  margin-left: 10%;
  display: inline-block;
  border: solid black;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: red;
}

// Footer //
footer {
  background-color: #f7d776;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 15%;
  }
  p {
    margin: 0.5%;
  }
  .reseaux {
    margin-top: 1%;
    width: 10%;
    display: flex;
    justify-content: space-around;
    a {
      img {
        width: 90%;
      }
    }
  }
  p:last-child {
    font-size: 10px;
    margin-top: 4%;
    margin-bottom: 1%;
  }
}
