* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

:root {
  --main-yellow: #F7D776;
  --main-green: #CEE8A8;
  --light-text: #FFFFFF;
  --dark-text: #000000;
  --orange-titles: #F29727;
  --cities-nav-bg: #FAE7AD;
  --light-action-color: #FFFCF1;
  --dark-action-color: #858585;
  --to-top-btn: #95CD41;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

#toggle-navbar {
  display: none;
}

#navbar {
  background-image: url(../img/NavBar_Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -3vh 2.5rem;
  position: fixed;
  z-index: 3;
}
#navbar img {
  width: 50%;
}
#navbar nav {
  width: 73%;
}
#navbar nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 0;
}
#navbar nav ul li a {
  font-size: 1.5rem;
  color: var(--dark-text);
}

footer {
  background-color: var(--main-yellow);
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}
footer img {
  width: 15%;
}
footer p {
  font-size: 1rem;
  margin: 0.5%;
}
footer .reseaux {
  margin-top: 1%;
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .reseaux a img {
  width: 90%;
}
footer p:last-child {
  font-size: 0.75rem;
  margin-top: 4%;
  margin-bottom: 1%;
  cursor: pointer;
}

.FoodieFinds .FindsFeed {
  width: 63%;
  margin: 16vh auto 0;
  display: flex;
  flex-direction: column;
}
.FoodieFinds .FindsFeed .FindsPostYellow {
  width: 74%;
  margin: 4vh 0;
  display: flex;
}
.FoodieFinds .FindsFeed .FindsPostYellow .FindsTxt {
  display: flex;
  flex-direction: column;
  width: 53%;
  background-color: var(--main-yellow);
  border-top-left-radius: 14.92% 20%;
}
.FoodieFinds .FindsFeed .FindsPostGreen {
  width: 74%;
  margin: 4vh 0;
  display: flex;
  align-self: flex-end;
}
.FoodieFinds .FindsFeed .FindsPostGreen .FindsTxt {
  display: flex;
  flex-direction: column;
  width: 53%;
  background-color: var(--main-green);
  border-top-left-radius: 14.92% 20%;
}

.users {
  display: flex;
  align-items: center;
  margin: 3.8vh 2vw 1vh;
}
.users img {
  width: 25%;
  cursor: pointer;
}
.users .userInfos {
  margin: 0 1vw;
}
.users .userInfos .userNames {
  font-size: 1.3rem;
}
.users .userInfos .userRanks {
  font-size: 0.8rem;
  margin-top: -0.5vh;
}

.PostContentComp {
  margin: 0 2vw 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.PostContentComp .PostContent .PostRestaurants {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1vh;
}
.PostContentComp .PostContent .Post {
  font-size: 1rem;
}
.PostContentComp .like {
  display: none;
}
.PostContentComp .like .placement {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: -30px;
}
.PostContentComp .like .placement .like-count {
  font-size: 1.3rem;
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: -40px;
}
.PostContentComp .like .placement .heart {
  width: 100px;
  margin-left: -5%;
  margin-right: -10%;
  margin-bottom: -40px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.PostContentComp .like .placement .heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
.PostContentComp .like.active {
  display: flex;
  align-items: center;
}
.PostContentComp .like.active i {
  font-size: 2.5rem;
  margin-right: 1vw;
}

.FindsImg {
  width: 47%;
  position: relative;
}
.FindsImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-right-radius: 16.785% 20%;
}
.FindsImg .options {
  font-size: 2rem;
  position: absolute;
  display: block;
  top: 4%;
  right: 10%;
  cursor: pointer;
}
.FindsImg .options i {
  background-color: rgba(255, 252, 241, 0.7);
  border-radius: 50%/20%;
  padding: 0.2vh 0.1vw;
  color: var(--dark-action-color);
}

.BlownUp {
  transform: scale(1.2);
  border-top-left-radius: 14.92% 20%;
  border-bottom-right-radius: 14.92% 20%;
  position: fixed;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}
.BlownUp::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -36.5%;
  left: -18%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
}

#toggle-cities {
  position: fixed;
  display: block;
  background-color: var(--main-yellow);
  width: 2vw;
  height: 0.5vh;
  top: 18vh;
  left: 1.7vw;
  border-radius: 10%/50%;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#toggle-cities::before, #toggle-cities::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--main-yellow);
  border-radius: 10%/50%;
  width: 2vw;
  height: 0.5vh;
  transition: all 0.3s ease-in-out;
}
#toggle-cities::before {
  top: -1.25vh;
}
#toggle-cities::after {
  top: 1.25vh;
}

#toggle-cities.active {
  background-color: transparent;
}
#toggle-cities.active::before {
  top: 0;
  rotate: 45deg;
  background-color: var(--light-action-color);
}
#toggle-cities.active::after {
  top: 0;
  rotate: -45deg;
  background-color: var(--light-action-color);
}

.FoodieFinds {
  display: flex;
}
.FoodieFinds #FindsNavCities {
  position: fixed;
  left: -100vw;
  top: 0;
  z-index: -1;
  width: 20%;
  height: 100vh;
  background-color: var(--cities-nav-bg);
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: -1vw 0 2vw;
  z-index: 1;
  transition: ease-in-out 0.3s all;
}
.FoodieFinds #FindsNavCities::-webkit-scrollbar {
  background-color: var(--light-action-color);
  border-radius: 50%/1%;
  height: 80%;
}
.FoodieFinds #FindsNavCities::-webkit-scrollbar-thumb {
  background-color: var(--main-yellow);
  border-radius: 50%/1%;
}
.FoodieFinds #FindsNavCities #FindsNav input {
  position: absolute;
  top: 16.4vh;
  left: 5vw;
  height: 3.5vh;
  width: 60%;
  border-radius: 7%/50%;
  border: 0.2vw solid transparent;
  background-color: var(--light-action-color);
  padding-left: 0.4vw;
}
.FoodieFinds #FindsNavCities #FindsNav input::-moz-placeholder {
  font-size: 1.06vw;
}
.FoodieFinds #FindsNavCities #FindsNav input::placeholder {
  font-size: 1.06vw;
}
.FoodieFinds #FindsNavCities #FindsNav #menu {
  font-size: 1rem;
  position: absolute;
  top: 16.7vh;
  left: 103vw;
}
.FoodieFinds #FindsNavCities nav {
  margin-top: 22vh;
}
.FoodieFinds #FindsNavCities nav .FindsCities {
  display: block;
  width: 100%;
  padding: 1.25vh 0;
}
.FoodieFinds #FindsNavCities nav .FindsCities img {
  width: 50%;
  margin: 0 auto;
}
.FoodieFinds #FindsNavCities nav .FindsCities .CityNames {
  margin: 0 auto;
  text-align: center;
  font-size: 1.4vw;
  letter-spacing: 0.2vw;
  padding-top: 0.5vh;
}
.FoodieFinds #FindsNavCities.active {
  left: 0;
}
.FoodieFinds #FindsNavCities.active #menu.active {
  left: 3vw;
}

@media screen and (max-width: 960px) {
  header nav ul li a {
    font-size: 1.2rem;
  }
  .FoodieFinds .FindsFeed {
    margin: 9.5vh 0 0 10vw;
    width: 85%;
  }
  .FoodieFinds .FindsFeed .FindsPostYellow {
    width: 100%;
    margin: 3vh 0;
  }
  .FoodieFinds .FindsFeed .FindsPostYellow .FindsTxt {
    width: 52%;
    padding: 0.5vh 0.5vw;
  }
  .FoodieFinds .FindsFeed .FindsPostYellow .FindsImg {
    width: 48%;
  }
  .FoodieFinds .FindsFeed .FindsPostGreen {
    width: 100%;
    align-self: flex-start;
    margin: 3vh 0;
  }
  .FoodieFinds .FindsFeed .FindsPostGreen .FindsTxt {
    width: 52%;
    padding: 0.5vh 0.5vw;
  }
  .FoodieFinds .FindsFeed .FindsPostGreen .FindsImg {
    width: 48%;
  }
  .FoodieFinds #toggle-cities {
    top: 13vw;
    left: 3.25vw;
    width: 4vw;
  }
  .FoodieFinds #toggle-cities::before, .FoodieFinds #toggle-cities::after {
    width: 4vw;
  }
  .FoodieFinds #toggle-cities.active::before, .FoodieFinds #toggle-cities.active::after {
    width: 4vw;
  }
  .FoodieFinds #FindsNavCities {
    width: 40%;
  }
  .FoodieFinds #FindsNavCities #FindsNav input {
    height: 4.5vh;
    top: 9.5vh;
    left: 11vw;
    border-radius: 12%/50%;
    padding-left: 2vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input::-moz-placeholder {
    font-size: 1rem;
  }
  .FoodieFinds #FindsNavCities #FindsNav input::placeholder {
    font-size: 1rem;
  }
  .FoodieFinds #FindsNavCities nav {
    margin-top: 16vh;
  }
  .FoodieFinds #FindsNavCities nav .FindsCities .CityNames {
    font-size: 1.8vw;
  }
  #toggle-cities {
    top: 17vh;
  }
  .users {
    margin: 2vh 2vw 1vh;
  }
  .BlownUp {
    transform: scale(0.9);
    left: 0;
  }
  .PostContentComp .like {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  header #toggle-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 3;
    top: 0;
    padding: 1.5rem 0;
    font-size: 3rem;
    color: var(--dark-text);
    background-image: url(../img/NavBar_Bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 -3vh 3.5rem;
    transition: ease-in-out 0.3s all;
  }
  header #toggle-navbar i {
    transition: ease-in-out 0.3s all;
  }
  header #toggle-navbar.active {
    box-shadow: none;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header #toggle-navbar.active i {
    transform: scaleY(-1);
  }
  header #navbar {
    display: none;
    top: -105rem;
  }
  header #navbar.active {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
    top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5vh;
    box-shadow: none;
  }
  header #navbar.active img {
    width: 80%;
    transform: translateX(3.5vw);
    padding-top: 3vh;
  }
  header #navbar.active nav {
    height: 85%;
  }
  header #navbar.active nav ul {
    flex-direction: column;
    align-items: center;
  }
  header #navbar.active nav ul li {
    padding: 2rem;
  }
  header #navbar.active nav ul li a {
    font-size: 3rem;
    width: 100%;
  }
  .FoodieFinds .FindsFeed {
    margin: 7vh auto 0;
  }
  .FoodieFinds .FindsFeed .FindsPostYellow {
    width: 100%;
    padding: 2vh 0;
  }
  .FoodieFinds .FindsFeed .FindsPostGreen {
    width: 100%;
    padding: 2vh 0;
  }
  .FoodieFinds .FindsFeed .users {
    padding: 2vh 3vw 0.7vh;
  }
  .FoodieFinds .FindsFeed .users .userNames {
    font-size: 1.71vw;
  }
  .FoodieFinds .FindsFeed .users .userRanks {
    font-size: 1vw;
    margin-top: -0.2vh;
  }
  .FoodieFinds .FindsFeed .PostContent {
    padding: 0 3vw;
  }
  .FoodieFinds .FindsFeed .PostContent .PostRestaurants {
    font-size: 1.5vw;
  }
  .FoodieFinds .FindsFeed .PostContent .Post {
    font-size: 1.26vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .options {
    font-size: 3vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .like {
    font-size: 2.7vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .like i {
    padding: 0.5vh 0.4vw 0.1vh 0.4vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .likeAmount {
    font-size: 1vw;
    right: 4.7vw;
    bottom: 1.6vh;
    padding: 0.1vh 2.5vw 0.1vh 0.8vw;
  }
  .FoodieFinds #toggle-cities {
    width: 3.5vw;
    left: 3vw;
    top: 9vh;
  }
  .FoodieFinds #toggle-cities::before, .FoodieFinds #toggle-cities::after {
    width: 3.5vw;
  }
  .FoodieFinds #FindsNavCities {
    width: 40vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input {
    top: 7.5vh;
    left: 9vw;
    height: 3vh;
    border-radius: 10%/50%;
    padding-left: 1vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input::-moz-placeholder {
    font-size: 2vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input::placeholder {
    font-size: 2vw;
  }
  .FoodieFinds #FindsNavCities nav {
    margin-top: 12vh;
  }
  .FoodieFinds #FindsNavCities nav .FindsCities .CityNames {
    font-size: 3vw;
  }
}
@media screen and (max-width: 480px) {
  header #navbar.active img {
    transform: translateX(6vw);
    padding-top: 4vh;
  }
  header #navbar.active nav ul li {
    padding: 1.5rem 0;
  }
  header #navbar.active nav ul li a {
    font-size: 2.5rem;
  }
  .FoodieFinds .FindsFeed {
    width: 66%;
    margin: 5.5vh auto 0;
  }
  .FoodieFinds .FindsFeed .FindsPostYellow {
    padding: 1.5vh 0;
  }
  .FoodieFinds .FindsFeed .FindsPostGreen {
    padding: 1.5vh 0;
  }
  .FoodieFinds .FindsFeed .users {
    padding: 1.5vh 3vw 0.5vh;
  }
  .FoodieFinds .FindsFeed .users .userNames {
    font-size: 1.8vw;
  }
  .FoodieFinds .FindsFeed .users .userRanks {
    font-size: 1.1vw;
  }
  .FoodieFinds .FindsFeed .PostContent .PostRestaurants {
    font-size: 1.6vw;
  }
  .FoodieFinds .FindsFeed .PostContent .Post {
    font-size: 1.4vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .options {
    font-size: 4vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .like {
    font-size: 3.7vw;
  }
  .FoodieFinds .FindsFeed .FindsImg .likeAmount {
    font-size: 1.1vw;
    right: 5.3vw;
    bottom: 1.25vh;
    padding: 0.1vh 3vw 0.1vh 0.8vw;
  }
  .FoodieFinds #toggle-cities {
    width: 7vw;
    height: 0.5vh;
    left: 4.5vw;
    top: 7.5vh;
  }
  .FoodieFinds #toggle-cities::before, .FoodieFinds #toggle-cities::after {
    width: 7vw;
    height: 0.5vh;
  }
  .FoodieFinds #FindsNavCities {
    width: 75vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input {
    top: 5.8vh;
    left: 15vw;
    height: 4vh;
    border-radius: 10%/50%;
    padding-left: 2.5vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input::-moz-placeholder {
    font-size: 3.5vw;
  }
  .FoodieFinds #FindsNavCities #FindsNav input::placeholder {
    font-size: 3.5vw;
  }
  .FoodieFinds #FindsNavCities nav .FindsCities .CityNames {
    font-size: 5vw;
  }
}/*# sourceMappingURL=FoodieFinds.css.map */