* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
}

// HEADER
header {
    background-image: url(../img/NavBar_Bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    box-shadow: 0 -1vh 2vh;
    position: fixed;
    img {
        width: 13%;
    }

    nav {
        width: 73%;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            font-size: 0;
            li{
                a{font-size: 1.63vw;
                color: black;}
            }
        }
    }
}

// FOOTER
footer{
    background-color: #F7D776;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    img{
        width: 15%;
    }
    p{
        font-size: 1.06vw;
        margin: .5%;
    }
    .reseaux{margin-top: 1%;
        width: 10%;
        display: flex;
        justify-content: space-around;
        a{
            img{
                width: 90%;
            }
        }
    }
    p:last-child{
        font-size: .65vw;
        margin-top: 4%;
        margin-bottom: 1%;
    }
}

// BODY → PUBLICATIONS
.FoodieFinds{
    // PROPORTIONS ET DISPOSITION DES PUBLICATIONS SUR LA PAGE
    .FindsFeed{
        width: 63%;
        margin: 17vh auto 0;
        // font-weight: 400;
        display: flex;
        flex-direction: column;
        // PUBLICATIONS IMPAIRES → DIMENSIONS, ESPACEMENT ET POSITION
        .FindsPostYellow{
            width: 74%;
            padding: 4vh 0;
            display: flex;
            // DIMENSIONS, ANGLE ARRONDI ET COULEUR DE FOND DU CÔTÉ TEXTE
            .FindsTxt{
                display: flex;
                flex-direction: column;
                width: 53%;
                background-color: #F7D776;
                border-top-left-radius: 14.92% 20%;
            }
        }
        // PUBLICATIONS PAIRES → DIMENSIONS, ESPACEMENT ET POSITION
        .FindsPostGreen{
            width: 74%;
            padding: 4vh 0;
            display: flex;
            align-self: flex-end;
            // DIMENSIONS, ANGLE ARRONDI ET COULEUR DE FOND DU CÔTÉ TEXTE
            .FindsTxt{
                display: flex;
                flex-direction: column;
                width: 53%;
                background-color: #CEE8A8;
                border-top-left-radius: 14.92% 20%;
            }
        }
    }
}

// PUBLICATIONS → UTILISATEURS → DISPOSITION, ESPACEMENT ET TAILLES
.users{
    display: flex;
    align-items: center;
    padding: 3.8vh 2vw 1vh;
    img{
        width: 25%;
    }
    .userInfos{
        padding: 0 1vw;
        .userNames{
            font-size: 1.31vw;
        }
        .userRanks{
            font-size: .8vw;
            margin-top: -.5vh;
        }
    }
}

// PUBLICATIONS → CONTENUS → DISPOSITION, ESPACEMENT ET TAILLES
.PostContent{
    padding: 0 2vw;
    .PostRestaurants{
        font-size: 1.2vw;
        text-align: center;
        padding-bottom: 1vh;
    }
    .Post{
        font-size: 1.06vw;
    }
}

// PUBLICATIONS → IMAGES → BORD ARRONDI, TAILLES, DISPOSITION DES OPTIONS ET DU LIKE
.FindsImg{
    width: 47%;
    position: relative;
    z-index: -1;
    img{
        width: 100%;
        border-bottom-right-radius: 16.785% 20%;
    }
    // OPTIONS → DIMENSIONS ET POSITIONNEMENT
    .options{
        width: 2%;
        height: 10%;
        position: absolute;
        display: block;
        top: 10%;
        right: 10%;
        cursor: pointer;
        .dots{
            width: 100%;
            height: 23.72%;
            border-radius: 50%;
            border: .07vw solid #858585;
            background-color: #d9d9d9;
            &::before, &::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            width: 82.1%;
            height: 19.46%;
            border-radius: 50%;
            border: .07vw solid #858585;
            background-color: #d9d9d9;
            }
            &::before{
                top: 40%;
            }
            &::after{
                top: 80%;
            }
        }
    }
    // LIKE → DIMENSIONS ET POSITIONNEMENT
    .like{
        position: absolute;
        display: block;
        background-color: #d9d9d9;
        width: 4%;
        height: 4.742%;
        transform: rotate(45deg);
        bottom: 10%;
        right: 10%;
        z-index: 1;
        cursor: pointer;
        &::before, &::after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #d9d9d9;
        }
        &::before{
            left: -50%;
        }
        &::after{
            top: -50%;
        }
    }
    .like-bg{
        position: absolute;
        display: block;
        background-color: #858585;
        width: 4.12%;
        height: 4.892%;
        transform: rotate(45deg);
        bottom: 9.9%;
        right: 9.9%;
        &::before, &::after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #858585;
        }
        &::before{
            left: -50%;
        }
        &::after{
            top: -50%;
        }
    }
}

// MENU / NAVIGATION DES VILLES
// MENU BURGER
#toggle{
    position: fixed;
    display: block;
    background-color: #F7D776;
    width: 1.5vw;
    height: .4vh;
    top: 18vh;
    left: 1.7vw;
    border-radius: 10% / 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 10;
    &::before, &::after{
        content: '';
        position: absolute;
        display: block;
        background-color: #F7D776;
        border-radius: 10% / 50%;
        width: 1.5vw;
        height: .4vh;
        transition: all .3s ease-in-out;
    }
    &::before{
        top: -1vh;
    }
    &::after{
        top: 1vh;
    }
}
#toggle.active{
    background-color: transparent;
    &::before{
        top: 0;
        rotate: 45deg;
        background-color: #fffcf1;
    }
    &::after{
        top: 0;
        rotate: -45deg;
        background-color: #fffcf1;
    }
}

// NAVIGATION DES VILLES
// FOND
.FoodieFinds{
    display: flex;
    #FindsNavCities{
        position: fixed;
        left: -100%;
        top: 0;
        z-index: -1;
        width: 20%;
        height: 100vh;
        background-color: #FAE7AD;
        border-bottom-right-radius: 10% 5.23%;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: -1vw 0 2vw;
        &::-webkit-scrollbar{
            background-color: #fffcf1;
            border-radius: 50% / 1%;
            height: 80%;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #F7D776;
            border-radius: 50% / 1%;
        }
        // NAVIGATION
        #FindsNav{
            display: flex;
            input{
                position: absolute;
                z-index: 10;
                top: 16.4vh;
                left: 5vw;
                height: 3.5vh;
                width: 60%;
                border-radius: 7% / 50%;
                border: 0.2vw solid transparent;
                background-color: #fffcf1;
                padding-top: .8vh;
                &::placeholder{
                    font-size: 1.06vw;
                    padding-left: .4vw;
                }
            }
            #menu{
                font-size: 1vw;
                position: absolute;
                top: 16.7vh;
                left: 103vw;
            }
        }
        nav{
            margin-top: 22vh;
            .FindsCities{
                display: block;
                width: 100%;
                padding: 1.25vh 0;
                img{
                    width: 50%;
                    margin: 0 auto;
                }
                .CityNames{
                    margin: 0 auto;
                    text-align: center;
                    font-size: 1.4vw;
                    letter-spacing: .2vw;
                    padding-top: .5vh;
                }
            }
        }
    }
    #FindsNavCities.active{
        left: 0;
        #menu.active{
            left: 3vw;
        }
    }
}

