*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

img{
    display: block;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.center{
    width: 960px;
    margin: 0 auto;
}
// Header
header{
    
    .headercontainer{
        width: 100%;
        background-image: url(../img/home_header.png);
        background-size: cover;
        height: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        div.bg{
                width: 100%;
                background-color: rgba($color: #000000, $alpha: .35);
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
        }
    }
    

    .logo{
        width: 25%;
        z-index: 1;
    }

    .logobg{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 0;
        width: 30%;

        img{
            width: 130%;
        }
    }

    .navbar{
        background-image:url(../img/NavBar_BG_1.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3vh 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        .nav{
            width: 73%;
        }

        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 0;
            li{
                a{
                font-size: 1.63vw;
                color: black;
            }
            }
        }
    }
}
// Section
Section{
    background-image: url();
    background-size: 100%;
    padding-top: 5%;
    // Actu
    h1{
        font-size: 6vw;
        color:#CEE8A8;
        padding-bottom: 1%;
        width: 42%;
        border-right: 3px solid #CEE8A8;
        margin-bottom: 4%;
        padding-left: 7%;
    }
    
    .actucontainer{
        display: flex;
        justify-content: space-around;

        .actu{
            background-color: #CEE8A8;
            border-radius: 7%;
            width: 60%;
            margin-left: 5%;
            margin-right: 5%;
            position: relative;

            h3{
                font-size: 40px;
                margin-left: 5%;
                font-weight: 500;
                margin-top: 2%;
            }
            
            p{
                padding-left: 3%;
                width: 60%;
                padding-top: 2%;
                span{
                    font-size: 18px;
                    font-weight: 600;
                    width: 50%;
                }
            }

            .span{
                font-size: 12px;
                color: rgb(102, 101, 101);
                width: 50%;
                margin-top: 10%;
                padding-bottom: 5%;
            }

            img{
                width: 30%;
                height: 50%;
                border-radius: 15%;
                margin-left: 65%;
                position: absolute;
                top: 20%;
            }

            a{
                font-size: 20px;
                position: absolute;
                right: 10%;
                bottom: 10%;
                color: black;
                border-bottom: 1px solid black;
            }
        }
        // Evenement
        .eventcontainer{
            margin-right: 5%;
            width: 50%;
            background-color: #CEE8A8;
            border-radius: 10%;
            font-size: 14px;

            .event{

                h3{
                    font-size: 28px;
                    margin-left: 8%;
                    padding-top: 5%;
                }

                p{
                    padding-left: 5%;
                    font-size: 12px;
                    padding-top: 2%;

                    span{
                        color: rgb(102, 101, 101);
                    }
                }

                .border{
                    border-bottom: 3px solid white;
                    width: 100%;
                    padding-top: 5%;
                }
            }

            .restodujour{
                h3{
                        font-size: 18px;
                        margin-left: 8%;
                        margin-top: 3%;
                    }

                .restodujourcontainer{
                    display: flex;
                    
                    img{
                        width: 80%;
                        margin-top: 2%;
                        margin-left: 10%;
                        border-radius: 15%;
                    }

                    .escargottext{
                        width: 100%;
                        margin-right: 5%;
                        p{
                            padding-top: 3%;

                            span{
                                font-weight: 800;
                            }
                        }
                    }
                }

            }
        }
    }
    // Les mieux notés
    .titrenoté{
        font-size: 8vh;
        font-weight: 500;
        color: #E3C463;
        text-align: center;  
        margin-top: 15%;
    }

    .bordernoté{
        border-bottom: 4px solid #E3C463;
        width: 800px;
        margin-left: 20%;
        margin-bottom: 7%;
    }

        .flexnoté{
            display: flex;
            justify-content: space-evenly;
        }

        .noté1{
            position: relative;
            background-color: #E3C463;
            border-radius: 7%;
            width: 50%;
            padding: 2%;
            margin: 2%;
            
            img{
                width: 100%;
                border-radius: 7%;
            }

            h4{
                padding-top: 5%;
                padding-bottom: 5%;
                text-align: center;
            }

            p{
                text-align: center;
            }

            .info{
                display: flex;
                color: #525252;
                font-size: 14px;
                justify-content: space-between;
                margin-top: 5%;
                                
                p{
                    padding-top: 5%;
                    padding-bottom: 15%;
                }
            }

            i{
                position: absolute;
                color: rgb(98, 95, 95);
                right: 8%;
                bottom: 3%;
                font-size: 40px;
            }
        }

        .noté2{
            position: relative;
            background-color: #E3C463;
            border-radius: 7%;
            width: 50%;
            padding: 2%;
            margin: 2%;

            img{
                width: 100%;
                overflow: hidden;
                border-radius: 7%;
            }

            h4{
                padding-top: 5%;
                padding-bottom: 5%;
                text-align: center;
            }

            p{
                text-align: center;
            }

            .info{
                display: flex;
                color: #525252;
                font-size: 14px;
                justify-content: space-between;
                margin-top: 5%;
                                
                p{
                    padding-top: 5%;
                    padding-bottom: 15%;
                }
            }

            i{
                position: absolute;
                color: rgb(98, 95, 95);
                right: 8%;
                bottom: 3%;
                font-size: 40px;
            }
        }

        .noté3{
            position: relative;
            background-color: #E3C463;
            border-radius: 7%;
            width: 50%;
            padding: 2%;
            margin: 2%;

            img{
                width: 100%;
                border-radius: 7%;
            }

            h4{
                padding-top: 5%;
                padding-bottom: 5%;
                text-align: center;
            }

            p{
                text-align: center;
            }

            .info{
                display: flex;
                justify-content: space-between;
                color: #525252;
                font-size: 14px;
                margin-top: 5%;
                
                p{
                    padding-top: 5%;
                    padding-bottom: 15%;
                }
            }

            i{
                position: absolute;
                color: rgb(98, 95, 95);
                right: 8%;
                bottom: 3%;
                font-size: 40px;
            }
        }


    // Feed
    .flexcontainer{
        position: relative;
        margin-bottom: 8%;
        margin-top: 5%;

        .titreflex{
            display: flex;

            h2{
                font-size: 80px;
                color: #CEE8A8;
                margin-left: 5%;
                font-weight: 500;
            }

            .barre{
                border-bottom: 4px solid #CEE8A8;
                width: 50%;
                margin-bottom: 3.5%;
                margin-left: 8%;
            
            }
        }
        .flexfeed{
            display: flex;
            justify-content: space-around;

            .feed1{
                position: relative;
                background-color: #CEE8A8;
                width: 60%;
                height: 40vh;
                margin: 3%;
                border-radius: 10%;

                img{
                    width: 73px;
                    height: 73px;
                    border-radius: 50%;
                    margin-left: 5%;
                    margin-top: 5%;

                }

                .title{
                    display: flex;

                    .Nom{
                        text-align: center;
                        margin-top: 5%;
                        margin-left: 15%;
                        border-bottom: 2px solid black;

                        i{
                            padding-right: 5%;
                        }
                    }
                }
                    
                    span{
                        position: absolute;
                        left: 8%;
                        top: 50%;
                    }
                    
            }

            .feed2{
                position: relative;
                background-color: #CEE8A8;
                width: 60%;
                height: 40vh;
                margin: 3%;
                border-radius: 10%;

                img{
                    width: 73px;
                    height: 73px;
                    border-radius: 50%;
                    margin-left: 5%;
                    margin-top: 5%;

                }

                .title{
                    display: flex;

                    .Nom{
                        text-align: center;
                        margin-top: 5%;
                        margin-left: 15%;
                        border-bottom: 2px solid black;

                        i{
                            padding-right: 5%;
                        }
                    }
                }

                span{
                    position: absolute;
                    left: 8%;
                    top: 50%;
                }
            }

            .feed3{
                position: relative;
                background-color: #CEE8A8;
                width: 60%;
                height: 40vh;
                margin: 3%;
                border-radius: 10%;

                img{
                    width: 73px;
                    height: 73px;
                    border-radius: 50%;
                    margin-left: 5%;
                    margin-top: 3%;

                }

                .title{
                    display: flex;

                    .Nom{
                        text-align: center;
                        margin-top: 5%;
                        margin-left: 15%;
                        border-bottom: 2px solid black;

                        i{
                            padding-right: 5%;
                        }
                    }
                }

                span{
                    position: absolute;
                    left: 8%;
                    top: 50%;
                }
            }
        }

        .voirplus{
            position: absolute;
            background-color: #CEE8A8;
            width: 8%;
            border-radius: 8%;
            padding-top: 1%;
            padding-bottom: 1%;
            margin-bottom: 2%;
            bottom: -30%;
            right: 5%;
            

            a{
                font-size: 18px;
                padding-left: 18%;
                color: black;

            }
        }
        
    }

    .flexpartenaires{
        padding-bottom: 5%;
        h4{
            font-size: 6vw;
            text-align: center;
            color: #F7D776;
        }
        .img{
            display: flex;
            justify-content: space-evenly;
            
            img{
                width: 10%;
            }
        }
    }
}



// Footer
footer{
    background-color: #F7D776;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 15%;
    }
    p{
        margin: .5%;
        font-size: 1.06vw;
    }
    .reseaux{margin-top: 1%;
        width: 10%;
        display: flex;
        justify-content: space-around;
        a{
            img{
                width: 90%;
            }
        }
    }
    p:last-child{
        font-size: .65vw;
        margin-top: 4%;
        margin-bottom: 1%;
    }
}


@media screen and (max-width: 1200px) {

    header .navbar{
        padding: 2vh 0px;
        
    }

    section{
        .flexcontainer{
            margin-bottom: 15%;
            .voirplus{
                width: 10%;
            }
        }

        .flexpartenaires{
            h4{
                margin-bottom: 5%;
            }
        }
    }

}


@media screen and (max-width: 1024px) {

    section{
        
        .actucontainer{
            .actu{
                img{
                    height: 30%;
                    top: 5%;
                }
            }
        }

        .bordernoté{
            margin-left: 11%;
        }

        .flexcontainer{
            .flexfeed{
                .feed1{
                    .title{
                        .Nom{
                            margin-left: 0%;
                        }
                    }

                    span{
                        top: 40%;
                    }
                }
                .feed2{
                    .title{
                        .Nom{
                            margin-left: 0%;
                        }
                    }

                    span{
                        top: 40%;
                    }
                }
                .feed3{
                    .title{
                        .Nom{
                            margin-left: 0%;
                        }
                    }

                    span{
                        top: 40%;
                    }
                }
            }

            .voirplus{
                width: 11%;
            }
        }
    }

}

@media screen and (max-width: 960px) {

    header{
        .headercontainer{
            height: 400px;
        }

        .logo{
            width: 40%;
        }

        .logobg{
            width: 50%;
        }
    }

    header .navbar{
       background-size: cover;
       height: 10vh;
       padding: 4%;
        .nav{
            width: 100%;
            ul{
                li{
                    a{
                        font-size: 3vw;
                    }
                }
            }
        }
    }
section{        

    .actucontainer{
        .actu{
            margin: 1%;
            padding-bottom: 10%;

            p{
                width: 90%;
            }
            img{
               height: 30%;
               margin-bottom: 10%;
               top: 53%;
            }
            a{
                bottom: 5%;
            }
        }

        .eventcontainer{
            margin-right: 1%;
            .restodujour{
                padding-top: 5%;
                .escargottext{
                    p{
                        line-height: 120%;
                    }
                }
            }
        }
    }

    .bordernoté{
        margin-left: 9%;
    }

    .flexnoté{

        .noté1{
            width: 30%;

            img{
                width: 100%
            }
        }
        .noté2{
            width: 30%;

            img{
                width: 100%;
            }
        }
        .noté3{
            width: 30%;

            img{
                width: 100%;

            }
        }

    }

    .flexcontainer{
        margin-bottom: 15%;
        .flexfeed{
            .feed1{
                .title{
                    .Nom{
                        margin-left: 0%;
                    }
                }

                span{
                    top: 40%;
                }
            }
            .feed2{
                .title{
                    .Nom{
                        margin-left: 0%;
                    }
                }

                span{
                    top: 40%;
                }

            }
            .feed3{
                .title{
                    .Nom{
                        margin-left: 0%;
                    }
                }

                span{
                    top: 40%;
                }

            }
        }

        .voirplus{
            left: 42%;
            width: 15%;
            padding-left: 1.2%;
        }
    }

    .flexpartenaires{
        margin-bottom: 5%;
        h4{
            padding-top: 10%;
            padding-bottom: 4%;
        }
    }
}
}

@media screen and (max-width: 768px) {

    header{
        .headercontainer{
            height: 300px;
        }

        .logo{
            width: 50%;
        }

        .logobg{
            width: 60%;
        }
    }

    header .navbar{
       background-size: cover;
       height: 10vh;
       padding: 2%;
        .nav{
            width: 100%;
            ul{
                li{
                    
                    a{
                        font-size: 4.4vw;
                    }
                }
            }
        }
    }

    section{

        h1{
            font-size: 8vw;
            border: none;
            margin-left: 20%;
        }

        .bordernoté{
            width: 80%;
        }

        .actucontainer{
            .actu{
                
                img{
                    display: none;
                }

                p{
                    width: 99%;
                }
            }
        }

        .eventcontainer{
            .restodujour{

                .escargottext{
                    p{
                        padding-left: 8%;
                        font-size: 12px;
                    }
                }

                img{
                    display: none;
                }
            }
        }

        .titrenoté{
            font-size: 6.5vh;
        }

            .noté1{
                .info{
                    margin-bottom: 15%;
                }
            }

        .flexcontainer{

            .titreflex{
                .barre{
                    margin-bottom: 7%;
                }
            }

            .flexfeed{
                .feed1{
                    margin: 1%;

                    .title{
                        .Nom{
                            margin-left: 0%;
                            border: none;
                        }
                    }
                }
                .feed2{
                    margin: 1%;

                    .title{
                        .Nom{
                            margin-left: 0%;
                            border: none;
                        }
                    }
                }
                .feed3{
                    margin: 1%;

                    .title{
                        .Nom{
                            margin-left: 0%;
                            border: none;
                        }
                    }
                }
            }

            .voirplus{
                width: 21%;

                a{
                    font-size: 25px;
                }
            }
        }
        
        .flexpartenaires{
            .img{
                img{
                    width: 23%;
                }
            }
        }
    }

    footer{
        img{
            display: none;
        }
        p{
            font-size: 2vw;
        }

        a{
            img{
                width: 100%;
            }
        }

        p:last-child{
            font-size: 1.5vw;
            padding-left: 3%;
            text-align: center;

        }
    }

}

@media screen and (max-width: 480px) {

    header{
        .headercontainer{
            height: 200px;
        }

        .logo{
            width: 50%;
        }

        .logobg{
            width: 50%;
        }
    }

    header .navbar{
       background-size: cover;
       height: 10vh;
       padding: 0%;
        .nav{
            width: 100%;
            ul{
                li{
                    
                    a{
                        font-size: 4.4vw;
                    }
                }
            }
        }
    }

    section{

        h1{
            font-size: 12vw;
            margin-left: 12%;
            width: 75%;
            border: none;
            border-bottom: 3px solid #CEE8A8;
            
        }
        .actucontainer{
            display: block;
            justify-content: center;
            align-items: center;
            margin-top: 15%;

            .actu{
                width: 90%;

                .span{
                    font-size: 18px;
                }
            }

            .eventcontainer{
                width: 90%;
                margin-left: 5%;
                margin-top: 10%;

                .event{
                    .border{
                        border-bottom: 10px solid white;
                        padding-top: 2%;
                    }

                    span{
                        font-size: 18px;
                    }
                }

                .restodujour{
                    .restodujourcontainer{
                    .escargottext{
                        p{
                            padding-top: 0%;
                            margin-bottom: 5%;
                            font-size: 17px;
                        }
                    }
                }
            }
            }
        }

        .titrenoté{
            font-size: 4vh;
            
        }

        .bordernoté{
            margin-bottom: 20%;
        }

        .flexnoté{
            display: block;
            justify-content: center;
            align-items: center;

            .noté1{
                margin-bottom: 10%;
                width: 96%;
                p{
                    margin-bottom: -5%;
                }
            }
            .noté2{
                margin-bottom: 10%;
                width: 96%;
            }
            .noté3{
                margin-bottom: 10%;
                width: 96%;
            }
        }
        .flexcontainer{
            .titreflex{
                margin-bottom: 15%;

                h2{
                    margin-left: 30%;
                }

                .barre{
                    border: none;
                }
            }

            .flexfeed{
                display: block;

                .feed1{
                    margin-left: 2.5%;
                    width: 95%;
                    margin-bottom: 10%;
                }
                .feed2{
                    margin-left: 2.5%;
                    width: 95%;
                    margin-bottom: 10%;
                }
                .feed3{
                    margin-left: 2.5%;
                    width: 95%;
                    margin-bottom: 10%;
                }
            }

            .voirplus{
                width: 33%;
                bottom: -8%;
                left: 35%;
                margin-bottom: 5%;
                margin-top: 5%;
            }
     }

     .flexpartenaires{
        h4{
            margin-bottom: 5%;
        }
        
        .img{
            margin-bottom: 5%;
            img{
                width: 25%;
                margin: 5%;
            }
        }

     }

    }

    footer{
        img{
            display: none;
        }
        p{
            font-size: 3vw;
        }

        a{
            img{
                width: 100%;
            }
        }

        p:last-child{
            font-size: 2.4vw;
            padding-left: 3%;
            text-align: center;

        }
    }

}